<table class="table table-hover border m-2">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">category</th>
            <th scope="col">featured</th>
            <th scope="col">label</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dish of lead">
            <td>44</td>
            <td >{{dish.name}}</td>
            <!--<td>{{dish.category}}</td>
            <td>{{dish.featured}}</td>
            <td>{{dish.label}}</td>
            <td>{{dish.price}}</td>
            <td>{{dish.description}}</td>-->
        </tr>
    </tbody>
</table>