<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div class="col">
    <h3>Menu</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let dish of dishes" [routerLink]="['/dishdetail',dish.id]">
        
        <h3><img src={{dish.image}} alt={{dish.name}} height="200px" class="rounded-circle"> {{dish.name | uppercase}}
        </h3>
        <h4>{{dish.description}}</h4>
      </li>
      <li class="list-group-item"><h2>ALBERTO SOMAYYA EC</h2><h3><img src="/assets/images/alberto.png" alt="albert" height="200px" class="rounded-circle">
      </h3><h4>Excecutive Chef</h4>
    <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences.</p></li>
    </ul>

  </div>
  
</div>
<!--<div class="container" fxLayout="column" fxLayoutGap="10px">
  <app-dish-detail [dish]="selectedDish"></app-dish-detail>
</div>-->



<!--<div *ngIf = "SelectedDish" class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{SelectedDish.name}}</h5>
              <img class="card-img-top" src={{SelectedDish.image}} alt={{SelectedDish.name}}>
              <p class="card-text">{{SelectedDish.description}}</p>
              <a href="#" class="card-link">Like</a>
              <a href="#" class="card-link">Share</a>
            </div>
          </div>
    </div>-->